{% extends "base.html" %}

{% block title %}Resetuj hasło{% endblock %}

{% block content %}
  <h1>Resetuj swoje hasło</h1>
  {% if validlink %}
    <p>Wpisz swoje nowe hasło dwa razy:</p>
    <form method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="Zmień moje hasło" /></p>
    </form>
  {% else %}
    <p>The password reset link was invalid, possibly because it has
    already been used. Please request a new password reset.</p>
  {% endif %}
{% endblock %}
